@font-face {
    font-family: 'iconfont';
    src: url('./fonts/iconfont.woff2') format('woff2'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bluesky:before {
  content: "\e602";
}

.icon-qq:before {
  content: "\e882";
}

.icon-telegram:before {
  content: "\eaf9";
}

.icon-facebook:before {
  content: "\e609";
}

.icon-youtube:before {
  content: "\e880";
}

.icon-github:before {
  content: "\e885";
}

.icon-bilibili:before {
  content: "\e75c";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-tuchong:before {
  content: "\e705";
}

.icon-x:before {
  content: "\e601";
}

